/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&family=Raleway:wght@100&display=swap');

@layer components {
    .text {
        @apply dark:text-gray-100 text-gray-600
    }
    .text-primary {
        @apply dark:text-orange-400 text-orange-600
    }
    .collapse-element {
        @apply w-full min-h-fit p-2 border-b-2 dark:border-gray-300 border-gray-800 dark:border-opacity-20 border-opacity-20;
    }
    .markdown {
        @apply prose prose-code:bg-slate-400 prose-code:bg-opacity-25 font-roboto dark:text-gray-100 text-gray-600 
        prose-code:dark:text-gray-300 prose-blockquote:dark:text-gray-400 
        prose-blockquote:text-gray-600 prose-blockquote:font-semibold prose-code:text-gray-950 prose-a:dark:text-orange-400 prose-a:text-orange-600
        prose-a:no-underline prose-headings:font-montserrat prose-headings:font-normal 
        dark:prose-headings:text-gray-100 prose-headings:text-gray-900
        prose-strong:dark:text-gray-100 prose-strong:text-gray-900;
    }
}
@keyframes navbarCollapse {
    0% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes fadeLeft {
    0% {
        transform: translateX(-5rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeRight {
    0% {
        transform: translateX(5rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}